<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<script !src="">
    // 바깥쪽에서 PiggySave보이지만 addMoney 는 안보인다 addMoney를 반환해준다
    function PiggySave() {
        let money = 0;

        function addMoney(amount){
            money += amount
            console.log(money)
            // 돈추가
        }
        return {addMoney: addMoney()}
      //  return {addMoney} 위코드 이렇게 줄일쑤있음
    }
    const save = PiggySave();
    console.dir(save);

    save.addMoney(100)
    save.addMoney(200)
    // 클로저를 가장 많이쓰는 패턴 모듈패턴
    // 클로저 = 숨겨진 참조
    // 함수랑 객체가 다른게아니라고합니다
</script>
</body>
</html>